<ngx-slick-carousel class="home-main-slider" [config]="homeSlideConfig">
    <div ngxSlickItem class="slider-items slide-1">
        <div class="main-banner">
            <div class="video-banner d-flex align-items-center justify-content-center w-100 text-center position-relative">
                <div class="video-wrapper">
                    <img src="../../assets/images/home/movers1.jpg" alt="movers1" />
                </div>
                <div class="video-overlay"></div>
                <div class="video-content">
                    <h1>Get The Best Price Here</h1>
                    <a class="btn btn-primary" href="/join">Get a Free Estimate</a>
                </div>
            </div>
        </div>
    </div>
    <div ngxSlickItem class="slider-items slide-2">
        <div class="main-banner">
            <div class="video-banner d-flex align-items-center justify-content-center w-100 text-center position-relative">
                <div class="video-wrapper">
                    <img src="../../assets/images/home/movers2.jpg" alt="movers2" />
                </div>
                <div class="video-overlay"></div>
                <div class="video-content">
                    <h1>Get The Best Price Here</h1>
                    <a class="btn btn-primary" href="/join">Get a Free Estimate</a>
                </div>
            </div>
        </div>
    </div>
    <div ngxSlickItem class="slider-items slide-3">
        <div class="main-banner">
            <div class="video-banner d-flex align-items-center justify-content-center w-100 text-center position-relative">
                <div class="video-wrapper">
                    <img src="../../assets/images/home/truck.jpg" alt="truck" />
                </div>
                <div class="video-overlay"></div>
                <div class="video-content">
                    <h1>Get The Best Price Here</h1>
                    <a class="btn btn-primary" href="/join">Get a Free Estimate</a>
                </div>
            </div>
        </div>
    </div>
</ngx-slick-carousel>

<!-- <div class="home-main-slider">
    <div class="main-banner">
        <div class="video-banner d-flex align-items-center justify-content-center w-100 text-center position-relative">
            <div class="video-wrapper">
                <video [muted]="true" autoplay playsinline loop>
                <source src="../../assets/images/home/video/video-bg.mp4" type="video/mp4">
            </video>
            </div>
            <div class="video-overlay"></div>
            <div class="video-content">
                <h1>Get The Best Price Here</h1>
                <a class="btn btn-primary" href="/join">Get a Free Estimate</a>
            </div>
        </div>
    </div>
</div> -->