<footer class="p-3 py-5">
    <div class="container">
        <div class="row flex-column flex-md-row text-white">
            <div class="col">
                <div class="footer-about">
                    <h5 class=" footer-heading"> <span>about us</span></h5>
                    <p>We started the company in 2009 with a combined background and experience in real-estate and business management.</p>
                    <p>We believe that when you do something, you do it well and give it your all…..</p>
                </div>
            </div>
            <div class="col">
                <div class="footer-usefullinks">
                    <h5 class=" footer-heading"> <span>useful links</span></h5>
                    <ul class="list-unstyled">
                        <li>
                            <a routerLink="services/localmovers" routerLinkActive="active">Toranto local Moers</a>
                        </li>
                        <li>
                            <a routerLink="services/junkremoval" routerLinkActive="active">Junck and Furniture Removal</a>
                        </li>
                        <li>
                            <a routerLink="services/pianomoving" routerLinkActive="active">Piono Moving</a>
                        </li>
                        <li>
                            <a routerLink="services/buildingmoving">office and Building Moving</a>
                        </li>
                        <li>
                            <a routerLink="services/distancemoving" routerLinkActive="active">Long Distance moving</a>
                        </li>
                        <li>
                            <a routerLink="services/residencemoving" routerLinkActive="active">Recidence Moving</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col">
                <div class="footer-contact">
                    <h5 class=" footer-heading"> <span>Head office</span></h5>
                    <ul class="contact list-unstyled">
                        <li class="email">
                            <i class="fa fa-envelope" aria-hidden="true"></i> Email:info@emergencyhub.ca</li>
                        <li class="phone">
                            <i class="fa fa-phone" aria-hidden="true"></i> Phone: (+1 - 4166090999 / 4162938050 / 4162915372</li>
                        <li class="phone">
                            <i class="fa fa-phone" aria-hidden="true"></i>Toll Free - 18446090999</li>

                    </ul>
                </div>

            </div>
            <div class="col">
                <div class="working-hours">
                    <h5 class=" footer-heading"> <span>Working hours</span></h5>
                    <p>We work all days a week, Please contact us for any inquiry.</p>
                    <a class="btn btn-primary" routerLink="/contact">contact us</a>
                </div>
            </div>

        </div>
    </div>
</footer>