<div class="common-bond-group">
    <div class="bond-group-about">
        <div class="top-bg-block">
            <div class="top-bg-img top-about-bg-img">

            </div>
            <div class="top-overlay"></div>
            <div class="top-bg-heading">
                <div class="container">
                    <h1>We stand for great emphasis on every move</h1>
                </div>
            </div>

        </div>
        <div class="container">
            <div class="about-des">
                <h2 class="text-center">About Us</h2>
                <div class="our-story">
                    <div class="d-flex flex-column flex-md-row align-items-center about-components">
                        <div>
                            <figure>
                                <img src="../../assets/images/about/about.jpg" alt="our-story" />
                            </figure>
                        </div>

                        <div>
                            <div class="heading-border">
                                <h3>Our Story</h3>
                            </div>

                            <p>We started the company in 2009 with a combined background and experience in real-estate and business management.</p>
                            <p>We believe that when you do something, you do it well and give it your all. We put our heart, mind and passion into this business and are appreciative of those who’ve joined us over the years and became a part of our team.</p>
                            <p>No matter how challenging moving can be, you’ll have our attention and commitment to delivering a satisfying experience from beginning to end.</p>
                        </div>
                    </div>
                </div>
                <div class="matters">
                    <div class="d-flex flex-column flex-md-row-reverse align-items-center about-components">
                        <div>
                            <figure>
                                <img src="../../assets/images/about/about-matters.png" alt="our-story" />
                            </figure>
                        </div>

                        <div>
                            <div class="heading-border">
                                <h3>What Matters</h3>
                            </div>
                            <ul>
                                <li>Being the most efficient, friendly business that provides highest standard of service</li>
                                <li>Providing a quality work environment that supports hard working people and their families</li>
                                <li>Using eco-friendly resources and reducing our carbon footprint</li>
                                <li>Being part of the Toronto community as a family and a small business</li>
                                <li>Supporting the work of groups and organizations that are changing people’s lives and challenging the status quo</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="how-we work">
                    <div class="d-flex flex-column flex-md-row align-items-center about-components">
                        <div>
                            <figure>
                                <img src="../../assets/images/about/how_we_work.jpg" alt="how-we-work" />
                            </figure>
                        </div>

                        <div>
                            <div class="heading-border">
                                <h3>How We Work</h3>
                            </div>
                            <div class="heading-border">
                                <h3>Excellent Communication</h3>
                            </div>

                            <p>Prompt, thorough and courteous communication keeps our customers informed every step of the way, reducing the stress that often accompanies a move. We are responsive to estimate requests and bookings, address any building issues
                                timely, and send you text message updates before, during and after the move.</p>
                            <div class="heading-border">
                                <h3>Customer Service</h3>
                            </div>

                            <p>While our back office is large enough to comfortably manage the 6 to 8 moves we perform daily, we are small enough to give personalized attention to each one. Any issues that arise are addressed in a responsive and capable
                                fashion. No problem goes unsolved.</p>

                        </div>
                    </div>
                </div>
                <div class="giving-back">
                    <div class="d-flex flex-column flex-md-row-reverse align-items-center about-components">
                        <div>
                            <figure>
                                <img src="../../assets/images/about/about-matters.png" alt="our-story" />
                            </figure>
                        </div>

                        <div>
                            <div class="heading-border">
                                <h3>Giving Back</h3>
                            </div>
                            <p>We are community-oriented, passionate about supporting families, Toronto-based businesses, sustainability and eco-friendly resources. Because of this, we think it is important for us to give back and support the work of groups
                                and organizations that are changing people’s lives, challenging the status quo and serving the planet.</p>
                        </div>
                    </div>
                </div>
                <div class="giving-back">
                    <div class="d-flex flex-column flex-md-row align-items-center about-components">
                        <div>
                            <figure>
                                <img src="../../assets/images/about/about-matters.png" alt="our-story" />
                            </figure>
                        </div>

                        <div>
                            <div class="heading-border">
                                <h3>moving services</h3>
                            </div>
                            <p>We are responsive to online estimate requests, during which process questions are answered timely. Once a job is booked, you decide what level of valuation is appropriate for the move, after which all building issues are addressed,
                                including issuance of Certificates of Insurance (COIs), deadlines, elevator windows, floor protection requirements, etc. Finally, the move is put on our schedule.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-corevalues></app-corevalues>
        <app-company-facts></app-company-facts>

    </div>
</div>