<div class="core-values">
    <h2 class="text-center my-4 py-4">Our Principles </h2>
    <ngx-slick-carousel class="corevalues-slider" [config]="coreValueslideConfig">
        <div ngxSlickItem class="slider-items">
            <div class="core-values-hldr p-5 mb-2 text-center d-flex flex-column justify-content-center account">
                <h5>Accountability & Responsibility </h5>
                <p>Our clients/members are entitled to a full and complete understanding of the opportunities presented, recommendations made and transactions undertaken on their behalf. For advice given and actions taken </p>
            </div>
        </div>
        <div ngxSlickItem class="slider-items">
            <div class="core-values-hldr p-5 mb-2 text-center d-flex flex-column justify-content-center honest">
                <h5>Honesty & Integrity </h5>

                <p>The Bond Group adheres to a strict code of conduct, policy procedure and zero tolerance on deceit or misrepresentation. </p>
            </div>
        </div>
        <div ngxSlickItem class="slider-items">
            <div class="core-values-hldr p-5 mb-2 text-center d-flex flex-column justify-content-center service">
                <h5>Service & Performance </h5>

                <p>In our business execution we act conservatively to realize maximum profits. Our performance has met an average of 12% per annum. </p>

            </div>
        </div>
        <div ngxSlickItem class="slider-items">
            <div class="core-values-hldr p-5 mb-2 text-center d-flex flex-column justify-content-center account">
                <h5>Accountability & Responsibility </h5>
                <p>Our clients/members are entitled to a full and complete understanding of the opportunities presented, recommendations made and transactions undertaken on their behalf. For advice given and actions taken </p>
            </div>
        </div>
        <div ngxSlickItem class="slider-items">
            <div class="core-values-hldr p-5 mb-2 text-center d-flex flex-column justify-content-center honest">
                <h5>Honesty & Integrity </h5>

                <p>The Bond Group adheres to a strict code of conduct, policy procedure and zero tolerance on deceit or misrepresentation. </p>
            </div>
        </div>
        <div ngxSlickItem class="slider-items">
            <div class="core-values-hldr p-5 mb-2 text-center d-flex flex-column justify-content-center service">
                <h5>Service & Performance </h5>

                <p>In our business execution we act conservatively to realize maximum profits. Our performance has met an average of 12% per annum. </p>

            </div>
        </div>
    </ngx-slick-carousel>
</div>