<div class="company-facts">
    <div class="main-heading-border text-center my-4 pt-4">
        <h3>OUR COMPANY FACTS</h3>
        <div class="container my-5">
            <div class="row">
                <div class="col-md-4">
                    <p class="services-count number-color">2000+</p>
                    <p>Services Done</p>
                </div>
                <div class="col-md-4">
                    <p class="years-of-exp number-color">10</p>
                    <p>Years of experience</p>
                </div>
                <div class="col-md-4">
                    <p class="ranking number-color">8.5</p>
                    <p>Ranking (out of 10 )</p>
                </div>
            </div>
        </div>
    </div>
</div>