<div class="testimonial">
    <div class="container">
        <div class="main-heading-border text-center my-4 pt-4">
            <h3>Testimonial</h3>
        </div>
        <ngx-slick-carousel class="home-testimonial-slider" [config]="testimonialConfig">
            <div ngxSlickItem class="slider-items person-1">
                <div>
                    <img src="../../assets/images/home/dummy-img.png">
                    <h6 class="text-center">
                        <strong>Positive:</strong> Professionalism, Punctuality, Quality, Responsiveness, Value</h6>
                    <p class="text-center">This was my first moving experience without the help of my parents. The Star Canada Movers team is absolutely STELLAR at the service they provide.From the bottom of my heart, thank you for taking care of me and my things. Businesses
                        like yours are what make toronto great!</p>
                    <h4 class="text-center">Ankanna C</h4>
                </div>
            </div>
            <div ngxSlickItem class="slider-items person-2">
                <div>
                    <img src="../../assets/images/home/dummy-img.png">
                    <h6 class="text-center">
                        <strong>Positive:</strong> Professionalism, Punctuality, Quality, Responsiveness, Value
                    </h6>
                    <p class="text-center">SCM moved a dining room set for us this past weekend. people was friendly and answered ALL of my MANY questions. Despite the pouring thunderstorm, the movers were polite, respectful and efficient.
                    </p>
                    <h4 class="text-center">S.Hayes</h4>
                </div>
            </div>
            <div ngxSlickItem class="slider-items person-3">
                <div>
                    <img src="../../assets/images/home/dummy-img.png">
                    <h6 class="text-center"> <strong>Positive:</strong> Punctuality, Quality, Responsiveness, Value</h6>
                    <p class="text-center">The movers from SCM were very responsive and available for a same day move of a very heavy piece of athletic equipment. They were able to move the item and were extremely cautious to not scratch or damage walls. Will</p>
                    <h4 class="text-center">Catherine Lopes</h4>
                </div>
            </div>
            <div ngxSlickItem class="slider-items person-4">
                <div>
                    <img src="../../assets/images/home/dummy-img.png">
                    <h6 class="text-center"> <strong>Positive:</strong>  Professionalism, Punctuality</h6>
                    <p class="text-center">They arrived wearing masks and took every precaution to keep everyone safe. I will be using them for every move!.This was my first time using a moving company and it was by far the easiest move I have ever had.
                    </p>
                    <h4 class="text-center">Robinson mariyaths</h4>
                </div>
            </div>
            <div ngxSlickItem class="slider-items person-5">
                <div>
                    <img src="../../assets/images/home/dummy-img.png">
                    <h6 class="text-center"> <strong>Positive:</strong>  Professionalism, Punctuality</h6>
                    <p class="text-center">Star Canada Movers is a great moving company! I called them at very short notice and they were very fast to respond and help me with a last-minute move (over the course of two days).I highly recommend Star Canada Movers and will definitely
                        call them again in the future!

                    </p>
                    <h4 class="text-center">Joseph Davidson</h4>
                </div>
            </div>
            <div ngxSlickItem class="slider-items person-6">
                <div>
                    <img src="../../assets/images/home/dummy-img.png">
                    <h6 class="text-center"> <strong>Positive:</strong>Professionalism,  Punctuality</h6>
                    <p class="text-center"> This company was able to move a heavy instrument from a fairly remote area to my home, on short notice and on the fly. The piano arrived in perfect condition. I will definitely call them again next time I need this kind of service!
                        Oh, and the price was better than the competing companies that quoted me.
                    </p>
                    <h4 class="text-center">
                        Jeremy Tufts</h4>
                </div>
            </div>
        </ngx-slick-carousel>
    </div>
</div>