<div class="top-bg-block">
    <div class="top-bg-img">

    </div>
    <div class="top-overlay"></div>
    <div class="top-bg-heading">
        <div class="container">
            <h1>Junk and Furniture removal</h1>
        </div>
    </div>

</div>

<div class="local-movers-des">
    <div class="container">
        <div class="common-services py-4">
            <h2><strong>We are happy to help you get rid of unwanted items – large or small.</strong></h2>
            <p>If it’s taking up space and you don’t want it, we’ll take it off your hands! We offer disposal services for homes, offices and retail properties. When you use our disposal services, you’re also helping the environment because we will recycle
                or donate items wherever possible.</p>
            <p>One of the places we recommend is <span>BIG Reuse, formally Build It Green Toronto!</span></p>
            <div class="heading-border">
                <h3>Why Choose Our Disposal Services?</h3>
            </div>
            <ol>
                <li>Your moving crew will take away items on the day of the move. No need for additional scheduling or making separate arrangements</li>
                <li>Up front pricing—When we arrive, we’ll take a look at what you want removed and provide you with an all-inclusive price.</li>
                <li>Responsible disposal—We’ll do our best to donate and recycle as much as we can – keeping items out of the landfill!</li>
            </ol>
            <div class="heading-border">
                <h3>Moving Services</h3>
            </div>
            <p>We are responsive to online estimate requests, during which process questions are answered timely. Once a job is booked, you decide what level of valuation is appropriate for the move, after which all building issues are addressed, including
                issuance of Certificates of Insurance (COIs), deadlines, elevator windows, floor protection requirements, etc. Finally, the move is put on our schedule.</p>
        </div>
    </div>
</div>

<app-quote></app-quote>