@import '../../variables.scss';
.quote-request {
    h3 {
        font-weight: bold;
    }
    label {
        color: $primary;
        font-weight: bold;
    }
    .form-control {
        border: 1px solid $primary;
    }
    .has-error {
        border: 1px solid $error;
    }
    #datepicker {
        span {
            border: 0 !important;
            &:after,
            &:before {
                background: none;
            }
            #datepicker_input {
                min-height: 100%;
            }
        }
    }
    #textarea {
        height: 60px;
    }
    button {
        margin: 15px auto;
    }
}