<div class="we-offer py-3">
    <div class="main-heading-border  text-center my-4 pt-4">
        <h2>WHAT WE OFFER</h2>
        <p>BOOKING OUR SERVICES TO THE FUTURE</p>
    </div>

    <ngx-slick-carousel class="what-weoffer-slider" [config]="weOfferSlideConfig">
        <div ngxSlickItem class="slider-items person-1">
            <div>
                <a href="#">
                    <h6 class="text-center">Assembling & Dismantling</h6>
                    <p class="text-center">Emergency Hub movers are going to dismantle and assemble everything for you.</p>
                </a>
            </div>
        </div>
        <div ngxSlickItem class="slider-items person-2">
            <div>
                <a href="#">
                    <h6 class="text-center">Long Distance Moving</h6>
                    <p class="text-center">When your planning a long distance move a lot of different elements needs to be</p>
                </a>
            </div>
        </div>
        <div ngxSlickItem class="slider-items person-2">
            <div>
                <a href="#">
                    <h6 class="text-center">Corporate Moving</h6>
                    <p class="text-center">A critical part of any moving relies on proper planning. Emergency Hub moving and storage</p>
                </a>
            </div>
        </div>
        <div ngxSlickItem class="slider-items person-2">
            <div>
                <a href="#">
                    <h6 class="text-center">Storage Facility</h6>
                    <p class="text-center">If you don’t want to take all your belonging or don’t have more for it</p>
                </a>
            </div>
        </div>
    </ngx-slick-carousel>
</div>