<div class="common-bond-group">
    <!-- <h1 class="text-center py-2">Financial Services and Strategy</h1> -->
    <!-- <div class="row flex-column flex-md-row align-items-center p-3 pb-5" id="rhp">
                <div class="col">
                    <figure class="m-md-0">
                        <img src="../../assets/images/fin/home-purchase-program/home-purchase-program-alt.jpg" alt="" />
                    </figure>
                </div>
                <div class="col">
                    <div>
                        <h3>The Bond Group Re-Home Purchase Program</h3>
                        <p>With this product The Bond Group now offers our members a convenient way to purchase a home with full protection. </p>
                        <p>This program provides a fully secured real estate asset with the opportunity to purchase a home at the highest value return.</p>
                        <p>This program enables you to purchase a home with no money down. Your only requirement is the closing cost. This is a low risk product and is recommended for first time home buyers or investors.</p>
                        <p>Property purchase will be executed with real time pricing and secured legal protection for both lenders and borrowers.</p>

                    </div>
                </div>
            </div>


            <div class="row flex-column flex-md-row align-items-center p-3 flex-md-row-reverse pb-5" id="dep">
                <div class="col">
                    <figure class="m-md-0">
                        <img src="../../assets/images/fin/debt-free-education/deb-free-education.jpg" alt="" />
                    </figure>
                </div>
                <div class="col">
                    <div>
                        <h3>The Bond Group Debt-free Education Plan</h3>
                        <p>This program is available for The Bond Group Plan members who are in full-time professional education. </p>
                        <p>Every applicant is subject to qualification and approval. The plan is tailored to individual needs. </p>
                        <p>This is a strictly limited offer combined with the regular student loan program.</p>
                    </div>
                </div>
            </div>
            <div class="row flex-column flex-md-row align-items-center p-3 pb-5" id="alp">
                <div class="col">
                    <figure class="m-md-0">
                        <img src="../../assets/images/fin/luxary-car-program/luxary-car-program.jpg" alt="" />
                    </figure>
                </div>
                <div class="col">
                    <div>
                        <h3>The Bond Group Auto (Luxury) Program</h3>
                        <p>This program is a model of simplicity and security where you can have a luxury vehicle but at the same time your asset is protected. </p>
                        <p>An attractive return and ownership of the vehicle are guaranteed. </p>
                        <p>Please ask your Bond Group advisor for more details. The term of the program is limited.</p>
                    </div>
                </div>
            </div>
            <div class="row flex-column flex-md-row align-items-center p-3 flex-md-row-reverse pb-5" id="hep">
                <div class="col">
                    <figure class="m-md-0">
                        <img src="../../assets/images/fin/home-purchase-program/home-purchase-program.jpg" alt="" />
                    </figure>
                </div>
                <div class="col">
                    <div>
                        <h3>The Bond Group Home Equity Advantage Plan</h3>
                        <p>Provides access to better cash flow for retired clients/ plan members. </p>
                        <p>This plan gives a tailored income from your home. </p>
                        <p>
                            The Bond Group advisor will review your investment portfolio to ensure that you are properly diversified based on your borrowing and purchasing interest. </p>
                    </div>
                </div>
            </div>
            <div class="row flex-column flex-md-row align-items-center p-3 pb-5" id="cep">
                <div class="col">
                    <figure class="m-md-0">
                        <img src="../../assets/images/home/dummy-img.png" alt="" />
                    </figure>
                </div>
                <div class="col">
                    <div>
                        <h3>The Bond Group Commercial Equity Plan </h3>
                        <p>This Equity return is based on commercial property value and gives the highest return with minimum risk. </p>
                        <p>Whether it is land or building, The Bond Group advisors are able to help you determine the best way to reach your goals with a strategy that takes your commercial Equity Plan to a higher level. </p>
                        <p>This plan is structured to save money in a proven system. </p>
                    </div>
                </div>
            </div>
            <div class="row flex-column flex-md-row align-items-center p-3 flex-md-row-reverse pb-5">
                <div class="col">
                    <figure class="m-md-0">
                        <img src="../../assets/images/fin/estate-home-purchase/estate-home-purchase-alt.jpg" alt="" />
                    </figure>
                </div>
                <div class="col">
                    <div>
                        <h3>The Bond Group Estate Home Purchase Plan</h3>
                        <p>The term of this program is 2 years. This program is designed to help people to purchase their home while renting the same property.</p>
                        <p>. No credit of or down payment is needed. Under the program your purchase price and the monthly rent payment are fixed. </p>
                        <p>The plan holder pays the rent, property taxes, water bill, gas bill and electricity bill as a homeowner. The plan holder can purchase the home any time during the term. </p>
                    </div>
                </div>
            </div>
            <div class="row flex-column flex-md-row align-items-center p-3 pb-5" id="hcs">
                <div class="col">
                    <figure class="m-md-0">
                        <img src="../../assets/images/home/dummy-img.png" alt="" />
                    </figure>
                </div>
                <div class="col">
                    <div>
                        <h3>The Bond Group Halal Compliant Solution</h3>
                        <p>The Bond Group offers an alternative to interest bearing conventional financing that is haram (forbidden) in Islam. </p>
                        <p>Muslims believe that riba (interest) has severe consequences. Sharia Compliant Halal Financial Solution is an alternative to the riba based conventional financing. </p>
                        <p>We understand the obstacles one face when buying property in accordance with the Sharia belief system. </p>
                        <p>Therefore, our aim is to provide up-to-date information on a range of Halal financing options available from our panel of providers and we will assist our client with the application process from start to finish.</p>
                    </div>
                </div>
            </div>
            <div class="row flex-column flex-md-row align-items-center p-3 flex-md-row-reverse pb-5">
                <div class="col">
                    <figure class="m-md-0">
                        <img src="../../assets/images/fin/office/office.jpg" alt="" />
                    </figure>
                </div>
                <div class="col">
                    <div>
                        <h3>The Bond Group Business LL</h3>
                        <p>This product is designed to cater to the business community: the business could be small, medium sized or home based.</p>
                        <p>There are no credit checks or income requirements for business owners who have positive net worth and equity in their properties. </p>
                        <p>The Bond Group Business Loan Line maximum amount is $100,000.</p>
                    </div>
                </div>
            </div>
            <div class="row flex-column flex-md-row align-items-center p-3 pb-5" id="ppm">
                <div class="col">
                    <figure class="m-md-0">
                        <img src="../../assets/images/fin/master-card/master-card.jpg" alt="" />
                    </figure>
                </div>
                <div class="col">
                    <div>
                        <h3>The Bond Group Plan Pre-paid Mastercard</h3>
                        <p>This product is designed to help people with no credit, who do not qualify for major banks’ credit cards. We are committed to provide these clients with an alternative where they can receive commission on the card. </p>
                        <p> Our service is safe, convenient and reloadable, in which the client can collect points and redeem them for cash. </p>
                        <p>We have hundreds of online merchants and exclusive offers. This account also gives you Interac facility. </p>
                    </div>
                </div>
            </div>
            <div class="row flex-column flex-md-row align-items-center p-3 flex-md-row-reverse pb-5">
                <div class="col">
                    <figure class="m-md-0">
                        <img src="../../assets/images/fin/home-program/custom-home-program.jpg" alt="" />
                    </figure>
                </div>
                <div class="col">
                    <div>
                        <h3>The Bond Group Custom Home Program</h3>
                        <p>The biggest value decision of our lives is a home purchase or the upgrading of our home.</p>
                        <p>The Bond Group advisors can give you planning and financial assistance for your Custom Home. </p>
                        <p>This means that we bring to you everything from the builder to the financing for your project. </p>
                        <p>This program provides a quality home at the lowest cost.</p>
                    </div>
                </div>
            </div>
        </div> -->
    <router-outlet></router-outlet>

</div>