// vaiable-declaration
$primary: #151924;
$heading:#fff700;
$secondary: #006dad;
$white: #fff;
$active:#d0021b;
$error: #f00;
$gray: #969696;
// media queries variable-declaration
$min-width-xs:360px;
$min-width-sm: 400px;
$min-width-md: 768px;
$min-width-lg: 992px;
$min-width-xl: 1200px;
$max-width-xl: 1199px;
$max-width-lg: 991px;
$max-width-md: 767px;
$max-width-sm: 399px;
$max-width-xs: 320px;
// font-family-variables
$font-family-light: 'Poppins-light';
$font-family-medium: 'Montserrat-medium';
$font-awesome: 'fontAwesome'