<div class="common-bond-group">
    <div class="bond-group-home">
        <app-home-slider></app-home-slider>
        <div class="container">
            <app-what-we-offer></app-what-we-offer>

            <div class="client-experience text-center py-3">
                <div class="main-heading-border  text-center my-4 pt-4">
                    <h2>ABOUT US</h2>
                    <p>MAKE THE WORLD GO ROUND AND REVOLUTION BUSINESS</p>
                </div>
                <figure>
                    <img src="../../assets/images/about/aboutushome.jpg" alt="about" />
                </figure>
                <p>We started the company in 2009 with a combined background and experience in real-estate and business management.</p>
                <p>We believe that when you do something, you do it well and give it your all. We put our heart, mind and passion into this business and are appreciative of those who’ve joined us over the years and became a part of our team.</p>
                <p>No matter how challenging moving can be, you’ll have our attention and commitment to delivering a satisfying experience from beginning to end.</p>
            </div>
            <!-- <div class="home-products py-3">
                <div class="main-heading-border  text-center my-4 pt-4">
                    <h2>OUR COMPANY UPDATES</h2>
                    <p>ALL ABOUT EMERGENCY HUB UPDATE</p>
                </div>
                <div class="row">
                    <div class="col-sm-4 mb-3 mb-md-5">
                        <div class="home-products-hldr h-100 w-100 p-3 text-center">
                            <a href="#" class="w-100 m-0">
                                <h5>Going green in your storage unit: Tips and Tricks</h5>
                            </a>
                            <a href="#" class="w-100 m-0">
                                <img src="../../assets/images/fin/home-purchase-program/home-purchase-program-alt.jpg" />
                            </a>
                            <p>With this product The Bond Group now offers our members a convenient way to purchase a home with full protection. </p>
                        </div>
                    </div>
                    <div class="col-sm-4 mb-3 mb-md-5">
                        <div class="home-products-hldr h-100 w-100 p-3 text-center ">
                            <a href="#" class="w-100 m-0">
                                <h5>Advantages of short-term storage units</h5>
                            </a>
                            <a href="#" class="w-100 m-0">
                                <img src="../../assets/images/fin/debt-free-education/deb-free-education.jpg" />
                            </a>
                            <p>This program is available for The Bond Group Plan members who are in full-time professional education. </p>
                        </div>
                    </div>

                    <div class="col-sm-4 mb-3 mb-md-5">
                        <div class="home-products-hldr h-100 w-100 p-3 text-center">
                            <a href="#" class="w-100 m-0">
                                <h5>Guide to storing vehicles long-term</h5>
                            </a>
                            <a href="#" class="w-100 m-0">
                                <img src="../../assets/images/fin/luxary-car-program/luxary-car-program-alt.jpg" />
                            </a>
                            <p>This program is a model of simplicity and security where you can have a luxury vehicle but at the same time your asset is protected. </p>
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary text-white text-center" href="/fss">See More</a>
            </div> -->


        </div>
        <app-company-facts></app-company-facts>
        <app-testimonial></app-testimonial>
        <app-quote></app-quote>
    </div>
</div>